body {
    margin: 0;
    background: black;
    color: #00ff00;
    font-family: monospace;
    overflow-x: hidden;
    overflow-y: visible;
}

#title {
    font-family: 'Press Start 2P', monospace;

    font-size: calc(20px + 5vw);

    color: orange;
    text-align: center;
    position: relative;
    top: -5em;
    animation: drop 0.6s linear forwards;

    text-shadow:
        0.08em 0.08em #b35c00,
        0.16em 0.16em #803f00;

    max-width: 90%;
    margin: 0 auto;
    white-space: nowrap;
}


@media (min-width: 1056px) { 
    #title {
        font-size: 95px;
    }
}
#buttonUI{
    width: 80%;
    align-items: center;
    margin: 120px auto;
    padding: 20px;
    border: 2px solid #00ff00;
    min-height: 220px;
    opacity:0;
}
#buttonUI.show {
    opacity: 1;
}

@keyframes drop {
    to { top: 0; }
}

.dust {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #999;
    z-index: 5;
    animation: dust-fall 2.5s ease-out forwards;
}

@keyframes dust-fall {
    from { transform: translate(0, 0); opacity: 1; }
    to { transform: translate(var(--x), var(--y)); opacity: 0; }
}

#terminal{
    width: 80%;
    margin: 120px auto;
    align-items: center;
    padding: 20px;
    border: 2px solid #00ff00;
    min-height: 220px;
    opacity: 0;
    transition: opacity 0.8s ease;
    position: relative;
    overflow-y: scroll;
}

#terminal.show {
    opacity: 1;
}

#output {
    white-space: pre-line;
}

#cmd {
    position: absolute;
    opacity: 0;
}

#cursor {
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}


.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    pointer-events: auto;
    z-index: 10;
}

.switch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.switch input {
    display: none;
}

.slider {
    width: 50px;
    height: 25px;
    background: #222;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.slider::before {
    content: "🖥️"; 
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2.5px;
    left: 3px;
    background: #00ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    transition: 0.3s;
    z-index: 2;
}

input:checked + .slider::before {
    transform: translateX(24px);
    content: "📱";
}
button{
    border: #00ff00;
    border-radius: 3px;
    padding: 5px;
    background-color: #000000;
    color: #00ff00;
}
